.admin {
  background-color: rgb(247, 247, 247);
  position: relative;
  min-height: 500px;
  /* height: auto; */
}

@media (max-width: 768px) {
  .admin {
    min-height: 940px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .admin {
    min-height: 1000px;
  }
}
