/* who should use vote tante */

.lelf-cover {
  background-color: darkgreen;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  height: auto !important;
  padding: 20px;
}
.lelf-cover p {
  width: 400px !important;
  margin-top: 40px;
  font-size: 14px;
}
.lelf-cover p strong {
  color: #fff !important;
  font-size: 20px !important;
  font-weight: 900 !important;
}
.lelf-cover img {
  width: 300px;
  height: 300px;
}
.register {
  margin-left: 50px !important;
  padding: 5px 40px !important;
  background-color: #444 !important;
  border: none;
  color: white !important;
  font-weight: bold !important;
  border-radius: 60px !important;
  outline: none;
  cursor: pointer !important;
  font-size: 20px !important;
  margin-top: 20px !important;
}

.register:hover {
  background-color: #ffff !important;
  color: #3f3d56 !important;
  font-weight: 900 !important;
  transition: 0.5s !important;
  border-bottom: none !important;
}

@media (max-width: 768px) {
  .register {
    font-size: 15px !important;
  }
  .lelf-cover img {
    display: none;
  }
  .right-cover {
    margin-left: 30px !important;
  }
}
