.modal {
  position: fixed;
  top: 1%;
  left: 30%;
  transform: translate(30% - 50%);
  background-color: #fff;
  width: 600px;
  height: 500px;
  z-index: 2000;
}

.user-profile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.modal__footer {
  background-color: #444;
  padding: 10px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.modal__header {
  background-color: rgba(12, 158, 44, 0.959);
  color: #fff;
}
.modal__header h1 {
  font-size: 20px;
  margin-top: 5px;
}
