.body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 17px;
}
.loginbox {
  width: 25%;
  padding: 60px 20px;
  /* height: 100%; */
  margin-left: 30%;
  margin-top: 5%;
  background-color: #f7f7f7;
  color: #444;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Roboto';
  margin-left: 35%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type='text'],
input[type='password'] {
  border: none;
  border-bottom: 1px solid #444;
  background: transparent;
  outline: none;
  height: 40px;
  color: #444;
  font-size: 16px;
}
.loginbox input[type='submit'] {
  border: none;
  outline: none;
  height: 40px;
  background: darkgreen;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  font-size: 20px;
}
.loginbox input[type='submit']:hover {
  cursor: pointer;
  background: #fff;
  color: darkgreen;
}
.loginbox a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  font-family: 'Roboto';
  font-weight: 900;
  color: darkgreen;
  font-weight: 300;
  margin: 10px 0;
}
.loginbox a:hover {
  color: #444;
}

@media (max-width: 768px) {
  .loginbox a {
    color: darkgreen;
    font-size: 15px;
  }
  .loginbox {
    width: 70%;
    margin: 10px auto;
  }
  .avatar {
    display: none;
  }
  .loginbox input[type='submit'] {
    font-size: 19px;
  }
  .loginbox input[type='text'],
  input[type='password'] {
    font-size: 14px;
  }
  h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 17px;
  }
  .loginbox p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bolder;
  }
}
