footer {
  text-align: center;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  background-color: rgb(4, 12, 4);
}

footer > div {
  width: 100px;
  min-height: auto;
  display: inline-block;
  margin: 10px 10px;
}
.about {
  height: auto;
  padding: 6px;
  width: 50%;
  text-align: center;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  border-radius: 50px;
  font-family: 'Roboto';
  font-size: 15px;
  color: #fff;
  margin: 10px;
}

.about p {
  font-size: 14px;
}

footer > div.about h3 {
  margin: 15px 0;
}
.footer-image {
  width: 100px;
  height: 100px;
}
.about h3::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  border-bottom: 4px solid green;
  margin-top: 4px;
}

.about button {
  font-size: 15px;
  margin: 10px 0;
  padding: 10px;
  background-color: darkgreen;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin: 10px 0 0;
  outline: none;
  cursor: pointer;
}

.about button:hover {
  background-color: #fff;
  color: darkgreen;
  transition: 0.5s;
  font-size: 15px;
  border: 2px solid green;
  border-radius: 10px;
}

.link {
  width: 350px;
  height: 200px;
  border-radius: 5px;
  text-align: left;
  border: none;
  background: rgba(49, 158, 113, 0.6);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.link h3 {
  font-size: 15px;
  margin: 10px;
  font-weight: bold;
  color: #fff;
}
.link h3::after {
  content: '';
  display: block;
  margin: 3px 4px 3px;
  width: 20%;
  border-bottom: 2px solid #fff;
}

.link h5 a {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  padding: 5px 10px;
  margin: 0 10px;
  text-decoration: none;
  list-style: none;
  margin-left: 35px;
}
.link h4,
h3,
h5:hover {
  cursor: pointer;
}
.link h5 a:hover {
  background-color: #fff;
  color: darkgreen;
}

.social {
  position: absolute;
  right: 0;
  /* width: 400px; */
  height: 200px;
  background-color: rgb(158, 155, 155, 0.5);
  background: rgba(49, 158, 113, 0.6);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  border-radius: 50px;
}
.social h3 {
  text-align: center;
  margin: 10px 0;
  color: #fff;
}
.social h3::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 30%;
  border-bottom: 1px solid #fff;
  margin-top: 4px;
}
.follow {
  text-align: center;
}
footer i {
  font-size: 40px;
  margin: 0 10px;
  color: #fff;
}
.social h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  margin-top: 20px;
  color: #fff;
}

.app-download {
  text-align: center;
  font-size: 30px;
}
.app-download i {
  color: #fff;
  margin: 10px 5px 0;
}
i:hover {
  cursor: pointer;
  color: #fff;
}
.fo {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
@media (max-width: 768px) {
  .about {
    width: 99%;
    margin: 0 10px;
  }

  footer > div {
    margin: 0 20px;
  }
}
