/* active POST */
.ditails {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 20px;

  width: 70%;
  margin: 20px 10px 10px;
  box-shadow: 0 0 3px rgba(9, 49, 29, 0.3);
}

.active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 3px rgba(9, 49, 29, 0.3);
  padding: 10px;
  padding: 10px;
}
.active select {
  background-color: #fff;
  border: 1px solid darkgreen;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.active select option {
  font-size: 20px;
}
/* .active h3 {
  position: absolute;
  margin: 10px;
  color: darkgreen;
  font-weight: 900;
} */
.active h3 span {
  font-size: 15px;
  color: #444;
}

.active select:hover {
  cursor: pointer;
}
.post-active option {
  font-size: 10px;
}

@media (max-width: 768px) {
  .ditails {
    width: 90%;
    font-size: 13px;
    display: flex;
    justify-content: center;
  }
}
