.chart {
  width: 350px;
  /* height: 300px; */
  display: flex;
  background-color: #fff;
  position: absolute;
  /* padding: 30px; */
  top: 90px;
  left: 28%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0 1px 4px black;
  border-radius: 10px;
}
.chart:hover {
  padding: 2px;
  cursor: move;
}
.chart button {
  padding: 10px;
  width: 50%;
  margin: 0 auto 10px;
  background-color: darkgreen;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
}
.chart button h6 {
  font-size: 18px;
  font-style: initial;
  font-weight: 900;
}
.chart button:hover {
  background-color: #444;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .chart {
    left: calc(100%-60%);
    width: 350px;
    margin-top: -10px;
    margin-left: -110px;
    display: flex;
    left: 35%;
    /* left: 27%; */
    width: 90%;
    margin-bottom: 40%;
    justify-content: center;
    justify-content: space-around;
  }
  .chart button h6 {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .chart {
    width: 350px;
    margin-top: 20px;
    margin-left: 60px;
    display: flex;
    width: 50%;
    margin-bottom: 40%;
    justify-content: start;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 414px) and (max-width: 738px) {
  .chart {
    margin-left: -30% !important;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .chart {
    margin-left: -30% !important;
    margin-top: -10px;
  }
}

@media only screen and (min-width: 540px) and (max-width: 1024px) {
  .chart {
    width: 60%;
    left: 51%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 653px) {
  .chart {
    width: 100%;
    padding: 5px;
    margin-top: 10%;
  }
}

@media only screen and (min-width: 540px) and (max-width: 720px) {
  .chart {
    width: 60%;
    /* padding: 5px; */
    margin-top: -1%;
  }
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
  .chart {
    width: 70%;
    left: 47%;
    margin-top: 10%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .chart {
    width: 80%;
    padding: 10px;
    left: 40%;
    margin-top: -1%;
  }
}
