.report-par-post {
  width: 350px;
  display: flex;
  background-color: #444;
  position: absolute;
  flex-wrap: wrap;
  top: 90px;
  left: 63%;
  box-shadow: 0 1px 4px black;
  border-radius: 10px;
}
.report-par-post:hover {
  padding: 2px;
  cursor: move;
}
.report-par-post button {
  padding: 10px;
  width: 70%;
  margin: 0 auto 10px;
  background-color: darkgreen;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
}
.report-par-post button h6 {
  font-size: 14px;
  font-style: initial;
  font-weight: 900;
}
.report-par-post button:hover {
  background-color: #fff;
  color: darkgreen;
  cursor: pointer;
}
@media (max-width: 768px) {
  .report-par-post {
    display: flex;
    position: absolute;
    left: 29%;
    top: 40%;
    margin-left: -100px;
  }

  .report-par-post button {
    padding: 5px;
    margin: 0 auto 10px;
    font-size: 12px;
  }

  .report-par-post button {
    padding: 5px;
    width: 70%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .report-par-post {
    display: flex;
    position: absolute;
    left: 55.5%;
    top: 44%;
    width: 50%;
    margin-left: -100px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 738px) {
  .report-par-post {
    top: 43%;
    left: 31%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .report-par-post {
    top: 35%;
    left: 31%;
  }
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
  .report-par-post {
    top: 39%;
    left: 31%;
  }
}
@media only screen and (min-width: 411px) and (max-width: 823px) {
  .report-par-post {
    top: 40%;
    left: 31%;
  }
}

@media only screen and (min-width: 540px) and (max-width: 1024px) {
  .report-par-post {
    top: 40%;
    left: 38%;
  }
}
