@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}
body {
  font-family: 'Roboto', Arial, sans-serif, Helvetica;
  line-height: 1.4;
  color: #333;
  background-color: rgb(247, 247, 247);
  overflow-x: hidden;
  font-family: 'Roboto';
}

/* utility classes */
.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.text-primary {
  color: #3693ff;
}
.big-light {
  background: #f4f4f4f4;
  color: #fff;
}
.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
