.register-page {
  width: 80%;
  background-color: #fff;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
.register-page h1 {
  position: absolute;
  left: 40%;
  margin: 20px;
}

.register-page > div {
  width: 40%;
  background-color: #fff;
  height: 330px;
  margin: 10px;
  margin-top: 4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 10px;
}
.register-page Button {
  position: absolute;
  bottom: 20%;
}

.exist-account {
  font-size: 16px;
  color: rgb(148, 65, 17);
}
@media (max-width: 768px) {
  .register-page Button {
    position: absolute;
    bottom: -40%;
  }
  .register-page {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .register-page > div {
    width: 90%;
    margin: 10px;
  }
}
